/* .App {
  text-align: center;
  background-color: rgb(206, 149, 149);

} */
.color{
  background-color: #e69d31;
}
.etapesdiv{
  background-color: #0a0a5e;
  border-radius: 0 25% 25% 0;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.etapesdivnul{
  background-color: #f7ebdb94;
  /* border: 3px solid #0a0a5e; */
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.classstyle{
  color:#7f7575 ;
}
