/* .App {
  text-align: center;
  background-color: rgb(206, 149, 149);

} */
.color{
  background-color: #e69d31;
}
.etapevalid{
  background-color: #5AFC21;
  border-radius: 33.5px/29.5px;
  box-shadow: 5px 4px 4px #00000040;
  height: 59px;
  position: relative;
  width: 67px;
}
.etapesdiv{
  background-color: #1e71ee;
  border-radius: 33.5px/29.5px;
  box-shadow: 5px 4px 4px #00000040;
  height: 59px;
  position: relative;
  width: 67px;
}
.etapesdivnul{
  background-color: #ffffff;
  border-radius: 33.5px/29.5px;
  box-shadow: 5px 4px 4px #00000040;
  height: 59px;
  position: relative;
  width: 67px;
}

.classstyle{
  color:#7f7575 ;
}
